button {
  font-family: inherit;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 30px;
}

button:active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
}
body {
  
  background-color: #f2f2f2;
  background-image: url('https://t4.ftcdn.net/jpg/03/66/76/85/360_F_366768552_dU5RS1lwYP84jZmaIC9q0ZYwGi7Zd1N7.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
}